<table class="table table-hover">
  <thead class="table-info">
    <tr>
      <div class="form-check">
        <input
          type="checkbox"
          value="tableHeader"
          id="selectAll"
          [checked]="allRowsSelected"
          (click)="selectAllRows($event)"
        />
      </div>
      <ng-container *ngFor="let column of tableConfig?.header?.columns">
        <th scope="col">{{ column.name }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let tableRow of tableConfig?.rows">
      <ng-container
        *ngTemplateOutlet="rowTemplate; context: { tableRow, padding: 0 }"
      ></ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #rowTemplate let-tableRow="tableRow" let-padding="padding">
  <tr>
    <div>
      <input
        type="checkbox"
        value="tableRow"
        id="rowSelection"
        [checked]="tableRow.isSelected"
        (click)="selectRow(tableRow)"
      />
    </div>
    <ng-container *ngFor="let tableCell of tableRow.cells">
      <td
        [ngStyle]="{
          'padding-left': tableCell.shouldPad
            ? paddingNestedLevel(padding)
            : '0px'
        }"
      >
        {{ tableCell.value }}
        <button
          class="expand-button"
          *ngIf="tableCell.showCollapseIndicator"
          (click)="clickedRow(tableRow.id)"
        >
          <i [ngClass]="getIconForExpandableRow(tableRow)"></i>
        </button>
      </td>
    </ng-container>
  </tr>
  <ng-container *ngIf="!tableRow.isCollapsed">
    <ng-container *ngFor="let child of tableRow.children">
      <ng-container
        *ngTemplateOutlet="
          rowTemplate;
          context: { tableRow: child, padding: padding + 14 }
        "
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
